.input-wrapper {
  display: flex;
  flex-direction: column;

  input {
    background-color: rgb(242, 242, 242);
    border: none;
    border-bottom: 1px solid red;
    //border-color: transparent;
    //border-radius: 8px;
    padding: 12px;
    padding-left: 0;

    // &:focus {
    //   border: 1px;
    //   border: 1px solid green;
    // }
  }
}
