@import "../../utils/theme.scss";

.techstack-text-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;

  h4 {
    line-height: 47px;
    font-weight: 500;
    font-size: 32px;
    font-family: "Jost", sans-serif;
  }

  h5 {
    font-family: "Jost", sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-decoration: underline;
  }
}

.techstack-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 40%; //this looks good but fix it using display flex later
  margin: 0 auto;
  justify-content: center;
  gap: 25px;
  //align-items: center;
  @media screen and ($desktop) {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
  }
  gap: 24px;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 120px;
}
