@import "../../utils/theme.scss";

.contact-wrapper {
  margin-bottom: 120px;
}

.contact-content-wrapper {
  background-color: rgb(242, 242, 242);
  box-shadow: 0 0 5px red;
  display: flex;
  flex-direction: column;
  gap: 80px;
  border-radius: 8px;
  width: 80%;
  margin: 0 auto;
  padding: 48px;

  @media screen and ($desktopLarge) {
    flex-direction: row;
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    @media screen and ($desktop) {
      width: 50%;
    }
  }

  textarea {
    background-color: rgb(242, 242, 242);
    border: none;
    border-bottom: 1px solid red;
    //border-color: transparent;
    //border-radius: 8px;
    padding: 12px;
    padding-left: 0;
  }
}

.contact-name-email-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .input-wrapper {
    width: 100%;
  }

  @media screen and ($tabletLarge) {
    flex-direction: column;
  }
}

.contact-text-wrapper {
  line-height: 30px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  //justify-content: center;
  width: 80%;
}

.contact-button-wrapper {
  width: 100%;

  @media screen and ($desktop) {
    width: 50%;
  }
  button {
    background-color: rgba(29, 29, 29, 1);
    color: white;
    border-radius: 8px;
    padding: 8px;
    border-style: none;
    width: 100%;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: black;
      transition: 0.5s all;
    }
  }
}

.textarea-wrapper {
  display: flex;
  flex-direction: column;
}
